@charset "UTF-8"

           * {
              box-sizing: border-box;
         }
  
          body{
              background-color: hsl(30, 38%, 92%);
          }
  
          .wrapper {
              background-color: hsl(0, 0%, 100%);
              width: 342px;
              height: 340px;
              border-radius: 10px;
              font-family: 'Montserrat';
              margin-left: 8px;
              position: absolute;
              bottom: 1rem;
          }
  
          .inner-width {
              padding: 20px;
          }

          h1 {
            font-size: 11px;
            font-weight: 700;
            color: hsl(228, 12%, 48%);
            margin-left: 2px;
          }

          h2 {
            font-weight: 700;
            font-family: 'Fraunces';
            font-size: 29px;
            margin-top: 16px;
            margin-left: 5px;
            line-height: 92%;
          }
  
          .pimg {
              width: 342px;
              height: 200px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              position: absolute;
              top: 1.4rem;
              margin-left: 8px; 
        }
        
  
          .cart {
              width: 20px;
  
          }
  
          p {
              font-size: 14px;
              font-family: 'Montserrat';
              font-weight: 700;
              color: hsl(228, 12%, 48%);
              line-height: 170%;
              margin-left: 5px;
              margin-top: -15px;
          }
  
          .discount-price {
            margin-left: 127px;
            margin-top: -px;
            text-decoration: line-through;
            position: absolute;
            top: 15.5rem;
          }
  
          .price{
            color: hsl(158, 36%, 37%);
            font-size: 30px;
            font-family: "Fraunces";
            margin-top: -100px;
            position: absolute;
            top: 20rem;
          }

          .cart {
            font-size: 14px;
            color: hsl(0, 0%, 100%);
            background-color: hsl(158, 36%, 37%);
            width: 280px;
            height: 50px;
            border-radius: 10px;
            margin-left: 10px;
            border-style: none;
            font-family: "Montserrat";
            font-weight: 700;
            position: absolute;
            top: 17rem;
          }

          .cartimg {
            width: 15px;
            height: 15px;
            margin-left: 85px;
            margin-top: 18px;
            position: absolute;
            top: 17rem;
          }
  